# 분기문

In [1]:
for i in range(3) :
    a=int(input("첫 번째 정수 입력 : "))
    b=int(input("두 번째 정수 입력 : "))
    print("{0}+{1}={2}".format(a,b,a+b))
print("계산 종료")

첫 번째 정수 입력 : 4
두 번째 정수 입력 : 8
4+8=12
첫 번째 정수 입력 : 2
두 번째 정수 입력 : 4
2+4=6
첫 번째 정수 입력 : 1
두 번째 정수 입력 : 5
1+5=6
계산 종료

## break와 continue의 차이

In [2]:
for i in range(3) :
    a= int(input("첫 번째 정수 입력 : "))
    b= int(input("두 번째 정수 입력 : "))
    if(a==0 and b==0) :  # 0,0을 만나면 종료
        break
    print("{0}+{1}={2}".format(a,b,a+b)) 
print("계산 종료")

첫 번째 정수 입력 : 5
두 번째 정수 입력 : 7
5+7=12
첫 번째 정수 입력 : 0
두 번째 정수 입력 : 0
계산 종료

In [3]:
for i in range(3) :
    a= int(input("첫 번째 정수 입력 : "))
    b= int(input("두 번째 정수 입력 : "))
    if(a==0 and b==0) :  # 0,0을 만나면 밑에거 수행안하고 다시 루프문 시작위치로 올라감
        continue
    print("{0}+{1}={2}".format(a,b,a+b)) 
print("계산 종료")

첫 번째 정수 입력 : 5
두 번째 정수 입력 : 7
5+7=12
첫 번째 정수 입력 : 0
두 번째 정수 입력 : 0
첫 번째 정수 입력 : 5
두 번째 정수 입력 : 7
5+7=12
계산 종료

In [4]:
for i in range(3) :
    a= int(input("첫 번째 정수 입력 : "))
    for j in range(2) :
        b= int(input("두 번째 정수 입력 : ")) # b가 2번나올동안 a값은 고정되어있는 중
        if(a==0 and b==0) : 
            continue
        print("{0}+{1}={2}".format(a,b,a+b)) 
print("계산 종료")

첫 번째 정수 입력 : 5
두 번째 정수 입력 : 9
5+9=14
두 번째 정수 입력 : 4
5+4=9
첫 번째 정수 입력 : 6
두 번째 정수 입력 : 3
6+3=9
두 번째 정수 입력 : 4
6+4=10
첫 번째 정수 입력 : 0
두 번째 정수 입력 : 0
두 번째 정수 입력 : 2
0+2=2
계산 종료

In [5]:
for i in range(3) :
    a= int(input("첫 번째 정수 입력 : "))
    for j in range(2) :
        b= int(input("두 번째 정수 입력 : ")) # b가 2번나올동안 a값은 고정되어있는 중
        if(a==0 and b==0) : 
            break                 #break는 본인이 해당하는 루프문만 빠져나옴
        print("{0}+{1}={2}".format(a,b,a+b)) 
print("계산 종료")

첫 번째 정수 입력 : 7
두 번째 정수 입력 : 8
7+8=15
두 번째 정수 입력 : 6
7+6=13
첫 번째 정수 입력 : 0
두 번째 정수 입력 : 0
첫 번째 정수 입력 : 5
두 번째 정수 입력 : 7
5+7=12
두 번째 정수 입력 : 6
5+6=11
계산 종료

In [6]:
for i in range(3) :
    a= int(input("첫 번째 정수 입력 : "))
    for j in range(2) :
        b= int(input("두 번째 정수 입력 : ")) # b가 2번나올동안 a값은 고정되어있는 중
        if(a==0 and b==0) : 
            break                 #break는 본인이 해당하는 루프문만 빠져나옴
        print("{0}+{1}={2}".format(a,b,a+b)) 
    if(a==0 and b==0) :
        break
print("계산 종료")   #바깥쪽도 빠져나오려면 바깥쪽에도 루프문 만들어줘야함

첫 번째 정수 입력 : 0
두 번째 정수 입력 : 0
계산 종료

# 컨테이너형 데이터

## 리스트

In [16]:
aa=[]
bb=[2,4,3]
cc=["A","B","Kim"]
dd=["a",58,True] # 자료 타입이 달라도 OK
ee=[3,True,dd] #원소에 컨테이너 자료형태가 들어가도 OK
print(aa)
print(bb)
print(cc)
print(dd)
print(ee)

[]
[2, 4, 3]
['A', 'B', 'Kim']
['a', 58, True]
[3, True, ['a', 58, True]]

In [18]:
ee[2] #항상 0부터 index 시작하는 것 기억!

['a', 58, True]

In [19]:
ee[2][1]

58

list 함수를 이용해서 iterable한 데이터를 강제로 반환해야함

In [22]:
list("Kim Y") # 문자열

['K', 'i', 'm', ' ', 'Y']

In [23]:
aa=(3,2,5,6) # 튜플
list(aa) #강제로 list 변환

[3, 2, 5, 6]

In [26]:
aa={33,5,44,2,345}
list(aa) #집합은 순서가 없으므로 순서가 자기 마음대로 바뀜

[33, 2, 5, 44, 345]

In [126]:
dic={"서울":"02","경기":"031","제주":"064"} #사전
Ls4=list(dic) #'키'만 리스트에 저장
print(Ls4)

['서울', '경기', '제주']

In [20]:
range(1,10,2) # range함수

range(1, 10, 2)

In [21]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [27]:
aa=reversed([33,5,44,2,345])
aa
#list(aa)

In [29]:
list(aa)

[345, 2, 44, 5, 33]

In [30]:
aa=reversed([33,5,44,2,345])
next(aa)
next(aa)
next(aa) # iterable 객체는 next 함수를 이용해서 순차적으로 뽑아낼 수 있음

44

list가 항상 iterator한 것은 아님. iter함수를 이용해야 함.

In [31]:
aa=[33,5,44,2,345]
bb=iter(aa)
next(aa)

TypeError: 'list' object is not an iterator

In [32]:
type(bb)

list_iterator

In [33]:
next(bb)

33

## 리스트의 비교

In [34]:
A=[1,6,3]
B=[1,6,3,6]
C=[3,1,6]
D=[1,6,3]
A==B, A==C, A==D

(False, False, True)

## 리스트의 인덱싱과 슬라이싱

In [35]:
Isobj=[25,35,20,30,40,41,66,87,12]
print(Isobj[2:8:2])
print(Isobj[-7:-1:2])
print(Isobj[:8:2])
print(Isobj[::3])
print(Isobj[::-3])

[20, 40, 66]
[20, 40, 66]
[25, 20, 40, 66]
[25, 30, 66]
[12, 41, 20]

## immutable 과 mutable?

In [36]:
A=261522
print(id(A))
A=4732
print(id(A))

1806086016624
1806086016176

In [39]:
A=261522
print(id(A))
A=4732
A=B
print(id(A),id(B))

1806086016176
1806085310920 1806085310920

In [38]:
A=261522
print(id(A))
A=4732
A=B
A=328495
print(id(A),id(B))

1806086016144
1806086016624 1806085310920

In [40]:
Isobj=[3,2,5,6,4]
print("ID : {0}\t{1}".format(id(Isobj),Isobj))

ID : 1806085309000	[3, 2, 5, 6, 4]

### 리스트의 데이터 수정

In [47]:
Isobj=[3,2,5,6,4]
print("ID : {0}\t{1}".format(id(Isobj),Isobj))
Isobj[2]=372638 # 인덱싱을 이용한 원소 수정
print("ID : {0}\t{1}".format(id(Isobj),Isobj))
Isobj[:2]=[123,456] # 슬라이싱을 이용하여 여러 개의 원소를 수정
print("ID : {0}\t{1}".format(id(Isobj),Isobj))
Isobj[1:4]=[99999] #하나의 값을 넣을때도 여러 개를 덮어쓸때는 iterable한 자료유형으로 덮어써야함. 
print("ID : {0}\t{1}".format(id(Isobj),Isobj))

ID : 1806086051656	[3, 2, 5, 6, 4]
ID : 1806086051656	[3, 2, 372638, 6, 4]
ID : 1806086051656	[123, 456, 372638, 6, 4]
ID : 1806086051656	[123, 99999, 4]

In [49]:
Isobj=[3,2,5,6,4]
Isobj[1:4]=99999 #하나의 값을 넣을때도 여러개를 덮어쓸때는 iterable한 자료유형으로 덮어써야함. 
print("ID : {0}\t{1}".format(id(Isobj),Isobj))

TypeError: can only assign an iterable

## 리스트 연산

In [50]:
ls1=[3,2,5,6,4]
ls2=[22,546,342]
print(ls1+ls2) 
print(ls2*3)

ls3=ls1+ls2 #ls1과 ls2를 결합한 리스트 ls3 생성
print(ls3)

ls4=ls1*3 #ls1을 3번 반복한 리스트 ls4 생성
print(ls4)

ls1+=ls2 #ls1과 ls2를 결합하여 ls1에 대입
print(ls1) # print(ls1+=ls2)는 오류발생

ls2*=4 # ls2를 4번 반복하여 ls2에 대입
print(ls2)

[3, 2, 5, 6, 4, 22, 546, 342]
[22, 546, 342, 22, 546, 342, 22, 546, 342]
[3, 2, 5, 6, 4, 22, 546, 342]
[3, 2, 5, 6, 4, 3, 2, 5, 6, 4, 3, 2, 5, 6, 4]
[3, 2, 5, 6, 4, 22, 546, 342]
[22, 546, 342, 22, 546, 342, 22, 546, 342, 22, 546, 342]

In [51]:
lsobj=[2,3,7,1,5,105,33,False,"Python"]
print(105 in lsobj, True in lsobj, "python" in lsobj, 100 not in lsobj)
print(lsobj)

True True False True

In [52]:
del lsobj[3] #인덱싱을 이용한 원소 삭제
print(lsobj)

del lsobj[1:8:3] #슬라이싱을 이용한 원소 삭
print(lsobj)

del lsobj #리스트 삭제(삭제된 리스트를 사용하려면 NameError 발생)
lsobj

[2, 3, 7, 5, 105, 33, False, 'Python']
[2, 7, 5, 33, False]

NameError: name 'lsobj' is not defined

In [66]:
lsobj=[201,3,71,25,105,33,150]
len(lsobj), min(lsobj), max(lsobj), sum(lsobj),sum(lsobj)/len(lsobj)

(7, 3, 201, 588, 84.0)

In [62]:
stls=sorted(lsobj) # 오름차순 정렬
reobj=reversed(lsobj) # 원소를 역순으로 바꿈
revis=list(reobj) # reversed는 객체이므로 list로 다시 만들어줘야
lsobj, stls, reobj, revis

([201, 3, 71, 25, 105, 33, 150],
 [3, 25, 33, 71, 105, 150, 201],
 <list_reverseiterator at 0x1a4831ea2b0>,
 [150, 33, 105, 25, 71, 3, 201])

In [65]:
lsobj1=[2,3,5,6,4]
rr=reversed(lsobj1)
list(rr), lsobj1[::-1] #역순 동일

([4, 6, 5, 3, 2], [4, 6, 5, 3, 2])

### 리스트 메소드

In [67]:
A=[4,6,5,4,7]
A.append(7) # 맨마지막에 7추가
A

[4, 6, 5, 4, 7, 7]

In [70]:
A=[4,6,5,4,7]
A.append(7) 
B=A+[234,678]
A,B

([4, 6, 5, 4, 7, 7], [4, 6, 5, 4, 7, 7, 234, 678])

In [71]:
A=[4,6,5,4,7]
A.append(7) 
B=A+[234,678]
A+=[234,678]
A,B

([4, 6, 5, 4, 7, 7, 234, 678], [4, 6, 5, 4, 7, 7, 234, 678])

In [78]:
L=[2,8,7,9]
L.append(7)
L.append([100,200]) # 맨 마지막에 리스트 [100,200] 추가
L

[2, 8, 7, 9, 7, [100, 200]]

In [79]:
L.insert(2,100) # index 2 위치에 100 추가
L

[2, 8, 100, 7, 9, 7, [100, 200]]

In [90]:
L=[100,94,23,85]
L.extend([81,76]) # 리스트 연결
L

[100, 94, 23, 85, 81, 76]

In [75]:
L.append(999), L.extend([999]) # extend의 경우 숫자로 들어가면 안됨. iterable한 자료로 들어가야

(None, None)

In [91]:
L=[100,94,23,85]
L.extend("Python") # 문자열은 각각 문자를 분해하여 연결
L

[100, 94, 23, 85, 'P', 'y', 't', 'h', 'o', 'n']

In [92]:
L=[100,94,23,85]
L.extend((71,66)) # 튜플 연결
L

[100, 94, 23, 85, 71, 66]

In [95]:
L=[100,94,23,85]
L.extend({81,92,60}) # 집합 연결(순서 개념이 없음)
L

[100, 94, 23, 85, 81, 92, 60]

In [96]:
L=[100,94,23,85]
L.extend({"Kim":"78","Lee":"90"}) # 사전 연결("키"만 연결)
L

[100, 94, 23, 85, 'Kim', 'Lee']

In [81]:
A=[4,6,5,4,7]
A.append(999)
A.pop() # 마지막 인덱스 자료 삭제하고 반환

999

In [82]:
A=[4,6,5,4,7]
A.append(999)
A.pop(3), A

(4, [4, 6, 5, 7, 999])

In [83]:
A=[4,6,5,4,7]
A.append(999)
A.remove(4) # 4처음나오는것삭제
A

[6, 5, 4, 7, 999]

In [84]:
A=[4,6,5,4,7]
A.append(999)
A.clear() #리스트가 있던것 다 지움
A # 빈리스트

[]

In [89]:
A=[4,6,5,4,7]
B=A
print(" A ID : {0}\tB ID : {0}".format(id(A), id(B)))
print(" A : {0}\tB : {1}".format(A, B))
A[2]=10000
print(" A ID : {0}\tB ID : {0}".format(id(A), id(B))) # 같은 메모리 주소를 공유하고 있으므로 동일하게 수정
print(" A : {0}\tB : {1}".format(A, B))

 A ID : 1806086183176	B ID : 1806086183176
 A : [4, 6, 5, 4, 7]	B : [4, 6, 5, 4, 7]
 A ID : 1806086183176	B ID : 1806086183176
 A : [4, 6, 10000, 4, 7]	B : [4, 6, 10000, 4, 7]

In [97]:
A=[7,3,6,3,5,9]
B=A
C=A.copy() # copy 메소드를 이용하여 생성
D=A[:]  # 인덱싱을 이용하여 생성
print(" A ID : {0}\tB ID : {0}".format(id(A), id(B)))
print(" A : {0}\tB : {1}".format(A, B))
print(" C ID : {0}\tD ID : {0}".format(id(C), id(D)))
print(" C : {0}\tD : {1}".format(C, D))

 A ID : 1806086184008	B ID : 1806086184008
 A : [7, 3, 6, 3, 5, 9]	B : [7, 3, 6, 3, 5, 9]
 C ID : 1806086181448	D ID : 1806086181448
 C : [7, 3, 6, 3, 5, 9]	D : [7, 3, 6, 3, 5, 9]

In [98]:
A=[7,3,6,3,5,9]
B=A
C=A.copy() # copy 메소드를 이용하여 생성
D=A[:]  # 인덱싱을 이용하여 생성
A[3]=483737373
print(" A ID : {0}\tB ID : {0}".format(id(A), id(B)))
print(" A : {0}\tB : {1}".format(A, B))
print(" C ID : {0}\tD ID : {0}".format(id(C), id(D)))
print(" C : {0}\tD : {1}".format(C, D))

 A ID : 1806086219016	B ID : 1806086219016
 A : [7, 3, 6, 483737373, 5, 9]	B : [7, 3, 6, 483737373, 5, 9]
 C ID : 1806086183432	D ID : 1806086183432
 C : [7, 3, 6, 3, 5, 9]	D : [7, 3, 6, 3, 5, 9]

In [99]:
A=[7,3,6,3,5,9]
A.count(3) # 3의 갯수 세기

2

In [100]:
A.index(3) # 3이 처음 나오는 인덱스

1

In [101]:
A.index(3,2) # A[2:]에서 3이 처음 나오는 인덱스

3

In [105]:
IS=[3,8,4,6,9,10,0]
IS.reverse() # 역순으로 변경
IS

[0, 10, 9, 6, 4, 8, 3]

In [106]:
IS=[3,8,4,6,9,10,0]
IS.sort() # 오름차순 정렬
IS

[0, 3, 4, 6, 8, 9, 10]

In [107]:
Is=[-3,8,4,-6,9,-10,8]
Is.sort(reverse=True) # 내림차순 정렬
Is

[9, 8, 8, 4, -3, -6, -10]

In [108]:
Is=["python","r","java","c++"]
Is.sort() # 문자열은 아스키코드로 정렬
Is

['c++', 'java', 'python', 'r']

In [109]:
Is=[-3,8,4,-6,9,-10,8]
Is.sort(key=abs) # 절댓값으로 정렬("key=함수명"으로 각 원소의 함수 결과로 정렬)
Is

[-3, 4, -6, 8, 8, 9, -10]

In [110]:
Is=["python","r","java","c++"]
Is.sort(key=len,reverse=True) # 문자열 길이로 내림차순 정렬
Is

['python', 'java', 'c++', 'r']

## 리스트 안의 리스트

In [111]:
ls=[[3,8,4,6,9,10,8],
   [3,6,8,3,6,7],
   [4,3,6,8,0,2,3,2]]
ls

[[3, 8, 4, 6, 9, 10, 8], [3, 6, 8, 3, 6, 7], [4, 3, 6, 8, 0, 2, 3, 2]]

In [112]:
ls[1][3:5] #0부터 숫자세는 것. 3,4를 뽑아내면

[3, 6]

In [114]:
avg=[]
for i in range(len(ls)) :
    avg.append(sum(ls[i])/len(ls[i])) # ls 리스트의 각 index 원소별 평균
avg

[6.857142857142857, 5.5, 3.5]

In [115]:
avg=[]
for i in range(len(ls)) : # 이렇게도 할 수 잇으나 메모리를 더 잡아먹으므로 비추
    tmp=sum(ls[i])/len(ls[i])
    avg.append(tmp) 
avg

[6.857142857142857, 5.5, 3.5]

## 튜플

In [116]:
A=345; B=463; C=463
A, B, C # 괄호를 생략한 튜플

(345, 463, 463)

In [119]:
tp1=(3,5,7,1); tp2=3,5,7,1
print("tp1 type : {0}\t{1}\ntp2 type : {2}\t{3}".format(type(tp1),tp1,type(tp2),tp2))

tp1 type : <class 'tuple'>	(3, 5, 7, 1)
tp2 type : <class 'tuple'>	(3, 5, 7, 1)

In [120]:
tp1=(3); tp2=(3,) # 쉼표는 필수
print("tp1 type : {0}\ttp2 type : {1}".format(type(tp1),type(tp2)))

tp1 type : <class 'int'>	tp2 type : <class 'tuple'>

In [121]:
tp1=([25,78,52]); tp2=[25,78,52], #쉼표에 따라 자료 형태 달라
print("tp1 type : {0}\ttp2 type : {1}".format(type(tp1),type(tp2)))

tp1 type : <class 'list'>	tp2 type : <class 'tuple'>

In [124]:
A=([345,345,222,9999],)
A[0]=[365,555] # 튜플원소자체는 못바꿈
A

TypeError: 'tuple' object does not support item assignment

In [125]:
A=([345,345,222,9999],)
A[0][1:3]=[365,555] # 원소의 원소가 list이므로 바꿀 수 있음
A

([345, 365, 555, 9999],)

### tuple함수

In [127]:
band="The doors" #문자열
tp1=tuple(band)
print(tp1)

('T', 'h', 'e', ' ', 'd', 'o', 'o', 'r', 's')

In [128]:
ls=[25,33,47,5] # 리스트
tp2=tuple(ls)
print(tp2)

(25, 33, 47, 5)

In [129]:
st={25,75,96,32,47,2} # 집합
tp3=tuple(st) # 집합은 순서의 개념이 없어 저장 순서가 다를 수 있음
print(tp3)

(96, 32, 2, 75, 47, 25)

In [130]:
dic={"서울":"02","경기":"031",}

In [132]:
A=[3,4,5] #리스트
B=[4,3,5,33]
print(id(A),A)
A+=B
print(id(A),A)

1806086140360 [3, 4, 5]
1806086140360 [3, 4, 5, 4, 3, 5, 33]

In [133]:
A=(3,4,5) #튜플
B=(4,3,5,33)
print(id(A),A)
A+=B
print(id(A),A)

1806086057776 (3, 4, 5)
1806083187904 (3, 4, 5, 4, 3, 5, 33)

## 집합

In [135]:
A={3,4,5,5,4,3,3,3}
B=[3,4,5,5,4,3,3,3]
print(A) # 중복된값 저장 불가
print(B)

{3, 4, 5}
[3, 4, 5, 5, 4, 3, 3, 3]

In [136]:
A={}
B=set()
print(type(A),type(B))

<class 'dict'> <class 'set'>

In [137]:
A=[3,4,6,4,7,7]
B=(3,6,3,4,4,4,55)
C={B,34,"A"} #A는 문자임..
print(type(C),C)

<class 'set'> {(3, 6, 3, 4, 4, 4, 55), 34, 'A'}

In [138]:
A=[3,4,6,4,7,7]
B=(3,6,3,4,4,4,55)
C={B,34,A} #immutable한 자료만 원소로 사용가능
print(type(C),C)

TypeError: unhashable type: 'list'

In [139]:
A={3,22,6,4,77,7}
B={3,6,3,2,2,4,55}
A.add(999) # 순서가 없으므로 붙는 위치는 자기 마음대로
B.add(555)
print(A,B)

{3, 4, 6, 7, 999, 77, 22} {2, 3, 4, 6, 555, 55}

In [143]:
ADel=A.pop() #임의의 원소 삭제
print(ADel,A,B)

7 {999, 77, 22} {2, 3, 4, 6, 555, 55}

In [144]:
A={3,22,6,4,77,7}
B={3,6,3,2,2,4,55}
A.discard(6)
B.remove(6)
print(A,B)

{3, 4, 7, 77, 22} {2, 3, 4, 55}

In [145]:
A={3,22,6,4,77,7}
B={3,6,3,2,2,4,55}
A.discard(11) #11이 없어도 discard는 아무것도 삭제 안하고 끝
B.remove(6)
print(A,B)

{3, 4, 6, 7, 77, 22} {2, 3, 4, 55}

In [146]:
A={3,22,6,4,77,7}
B={3,6,3,2,2,4,55}
A.discard(11)
B.remove(11) #remove는 11이 없으므로 Error발
print(A,B)

KeyError: 11

In [147]:
A={3,22,6,4,77,7}
B={3,6,3,2,2,4,55}
C=A  # id 동일 - 같은 객체
D=B.copy() # id 달라짐 - 다른 객체

print("A ID : {0}\tC ID : {1}".format(id(A),id(C)))
print("A : {0}\tC : {1}".format(A,C))
print("B ID : {0}\tD ID : {1}".format(id(B),id(D)))
print("B : {0}\tD : {1}".format(B,D))

A ID : 1806085170344	C ID : 1806085170344
A : {3, 4, 6, 7, 77, 22}	C : {3, 4, 6, 7, 77, 22}
B ID : 1806085171016	D ID : 1806083520552
B : {2, 3, 4, 6, 55}	D : {2, 3, 4, 6, 55}

In [148]:
A={3,22,6,4,77,7}
B={3,6,3,2,2,4,55}
C=A  # id 동일
D=B.copy() # id 달라짐
C.add(9999)
D.add(9009)

print("A ID : {0}\tC ID : {1}".format(id(A),id(C)))
print("A : {0}\tC : {1}".format(A,C))
print("B ID : {0}\tD ID : {1}".format(id(B),id(D)))
print("B : {0}\tD : {1}".format(B,D))

A ID : 1806085171240	C ID : 1806085171240
A : {3, 4, 6, 7, 77, 9999, 22}	C : {3, 4, 6, 7, 77, 9999, 22}
B ID : 1806085171688	D ID : 1806085170792
B : {2, 3, 4, 6, 55}	D : {9009, 2, 3, 4, 6, 55}

In [150]:
A={3,22,6,4,77,7}
B={3,6,3,2,2,4,55}
C=A.union(B) # 새로운 객체로 돌려
print("A ID : {0}\tC ID : {1}".format(id(A),id(C)))
print("A : {0}\tC : {1}".format(A,C))

D=A.update(B) # 동일한 객체에 덮어 씀. 즉 A=AUB꼴
print("A ID : {0}\tD ID : {1}".format(id(A),id(D)))
print("A : {0}\tD : {1}".format(A,D))

A ID : 1806085170792	C ID : 1806085171688
A : {3, 4, 6, 7, 77, 22}	C : {2, 3, 4, 6, 7, 77, 22, 55}
A ID : 1806085170792	D ID : 1814469936
A : {2, 3, 4, 6, 7, 77, 22, 55}	D : None