# 조건문
## 단순 if문

In [1]:
a=75
if(a>=80) :
    print("합격") #if문이 거짓이므로 합격은 출력안됨
print("감사합니다.")

감사합니다.

In [2]:
a=85
if(a>=80) :
    print("합격")
    print("축하합니다.")
print("감사합니다.")

합격
축하합니다.
감사합니다.

In [4]:
a=84
if (a>=80) :
    print("합격")
    print("점수 : {0}".format(a)) #이 형식에 익숙해질 필요가 있는
print("감사합니다.")

합격
점수 : 84
감사합니다.

## if-else문

In [6]:
a=78
if(a>=80) :
    print("점수 : {0}".format(a))
    print("합격")
else : 
    print("점수 : {0}".format(a))
    print("불합격")
print("감사합니다.")

점수 : 78
불합격
감사합니다.

In [7]:
a=88
if(a>=80) :
    print("점수 : {0}".format(a))
    print("합격")
else : 
    print("점수 : {0}".format(a))
    print("불합격")
print("감사합니다.")

점수 : 88
합격
감사합니다.

In [8]:
a=88
if(a>=80) :
    print("점수 : {0}".format(a))
    print("합격")
else : 
    print("점수 : {0}".format(a))
    print("불합격")
    print("감사합니다.")

점수 : 88
합격

## if ~ elif ~ else 문

In [9]:
a=78
if(a>=80) :
    print("점수 : {0}".format(a))
    print("합격")
elif(a>=60) : # 60점 이상 80점 미만
    print("점수 : {0}".format(a))
    print("재시험")
else : # 60점 미만
    print("점수 : {0}".format(a))
    print("불합격")
print("감사합니다.")

점수 : 78
재시험
감사합니다.

In [10]:
a=84
if(a>=90) :
    print("A")
    print("점수 : {0}".format(a))
elif(a>=80) : #원래는 a>=80 and a<90
    print("B")
    print("점수 : {0}".format(a))
elif(a>=70) : #elif는 여러개도 사용 가
    print("C")
    print("점수 : {0}".format(a))
elif(a>=60) :
    print("D")
    print("점수 : {0}".format(a))
else : 
    print("F")
    print("점수 : {0}".format(a))
print("감사합니다.")

B
점수 : 84
감사합니다.

## 삼항 연산자

In [11]:
a=75
res="합격" if(a>=80) else "불합격"
print("점수 : {point}\n{result}".format(point=a, result=res))

점수 : 75
불합격

### 삼항연산자는 4줄짜리 코드를 1줄로!

In [12]:
a=84
if(a>=90) :
    result="합격"
else :
    result="불합격"
print(result)

불합격

In [13]:
a=84
result="합격" if(a>=90) else "불합격"
print(result) #위의 결과와 동일하게 나옴

불합격

### 삼항 연산자를 두 번 쓸 수도 있음

In [15]:
a=84 
result="합격" if(a>=90) else("재시험" if(a>=70) else "불합격")
print(result)

재시험

In [16]:
a=84
if(a>=90) :
    result="합격"
elif(a>=70) :
    result="재시험"
else :
    result="불합격"
print(result)

재시험

# 반복문

## for문

### list 이용

In [17]:
for i in [1, 3, 6, 7] :
    print("{0}번 학생 성적 처리...".format(i))
print("종료합니다.")

1번 학생 성적 처리...
3번 학생 성적 처리...
6번 학생 성적 처리...
7번 학생 성적 처리...
종료합니다.

In [21]:
for i in ["A","B"] :
    print(i)
    
for i in [1,4,6,2] :
    print("i={0}".format(i))

A
B
i=1
i=4
i=6
i=2

### range 함수 이용

In [19]:
list(range(1,5)) # 시작값부터 끝값-1까

[1, 2, 3, 4]

In [20]:
for i in range(1,5):
    print("{0}번 학생 성적 처리...".format(i))
print("종료합니다.")

1번 학생 성적 처리...
2번 학생 성적 처리...
3번 학생 성적 처리...
4번 학생 성적 처리...
종료합니다.

In [22]:
for i in range(4) : #0부터 3(=4-1)까지
    print(i)
    
for i in range(3,5) : 
    print("i={0}".format(i))

0
1
2
3
i=3
i=4

In [23]:
for i in range(1,10,3) :
    print("{0}번 학생 성적 처리...".format(i))
print("종료합니다.")

1번 학생 성적 처리...
4번 학생 성적 처리...
7번 학생 성적 처리...
종료합니다.

### 숫자열의 연산을 할 때도 사용 가능

In [29]:
csum=0
for i in [3,2,5,7,3,5,6,7,1] :
    csum+=i
print("누적합은 {0}입니다.".format(csum))

누적합은 39입니다.

In [26]:
cums=0
for i in [1,2,3,4,5,6,7,8,9,10] :
    cums+=i
print("1부터 10까지의 합은 {0}입니다.".format(cums))

1부터 10까지의 합은 55입니다.

In [27]:
cums=0
for i in range(1,101) :
    cums+=i
print("1부터 100까지의 합은 {0}입니다.".format(cums))

1부터 100까지의 합은 5050입니다.

#### 예제 : 팩토리얼 계산하기

In [31]:
n=4
cmult=1
for i in range(1,(n+1)) : # n+1에 괄호안넣어도 돌아가긴 함.
    cmult*=i
print("{0}!={1}".format(n,cmult))

4!=24

In [32]:
for i in range(1,51) : # 10열 위치마다 "+"문자 출력
    if(i%10==0) :
        print("+",end="") #print는 기본적으로 줄바꾸기를 하므로, 이를 막기위해 end이용
    else :
        print("-",end="")

---------+---------+---------+---------+---------+

### 중첩된 for문 - 블록 잡을 때 주의.

밑의 경우에는 1번당 i=꼴이 2번 총 4 * 2= 8번 발생.

In [25]:
for i in range(4) :
    print(i)
    for i in range(3,5) :
        print("i={0}".format(i))

0
i=3
i=4
1
i=3
i=4
2
i=3
i=4
3
i=3
i=4

In [36]:
for i in range(1,10) :
    for j in [2,4,6,8] :
        if(j!=8) :
            print("{0}x{1}={2}".format(i,j,i*j),end="\t")
        else : 
            print("{0}x{1}={2}".format(i,j,i*j))

1x2=2	1x4=4	1x6=6	1x8=8
2x2=4	2x4=8	2x6=12	2x8=16
3x2=6	3x4=12	3x6=18	3x8=24
4x2=8	4x4=16	4x6=24	4x8=32
5x2=10	5x4=20	5x6=30	5x8=40
6x2=12	6x4=24	6x6=36	6x8=48
7x2=14	7x4=28	7x6=42	7x8=56
8x2=16	8x4=32	8x6=48	8x8=64
9x2=18	9x4=36	9x6=54	9x8=72

## while 문

무한루프에 안빠지게 주의!!

a=5
while (a>3) : 
    print(a)
    
이런경우..

In [38]:
a=5 
while (a>3) :
    print(a)
    a-=1 ##이런식으로 구성

5
4

### for문과 동일한 while 문 형식

In [39]:
for i in range(4) :
    print("{0}번 학생 성적처리...".format(i))
    
i=0
while(i<4) :
    print("{0}번 학생 성적 처리...".format(i))
    i+=1 #for문처럼 증분값 표시 필요

0번 학생 성적처리...
1번 학생 성적처리...
2번 학생 성적처리...
3번 학생 성적처리...
0번 학생 성적 처리...
1번 학생 성적 처리...
2번 학생 성적 처리...
3번 학생 성적 처리...

In [41]:
fcsum=0
for i in range(1,51) :
    fcsum+=i
print("1~50까지 합계 = {0}".format(fcsum))

wcsum=0
i=1
while(i<51) :
    wcsum+=i
    i+=1
print("1~50까지 합계 = {0}".format(wcsum))

1~50까지 합계 = 1275
1~50까지 합계 = 1275

In [46]:
n=10
ffact=1
for i in range(1,(n+1)) :
    ffact*=i
print("{0}!={1}".format(n,ffact))

wfact=1
i=1
while(i<=n) : #<n+1보다 <=n이 좀더 단순
    wfact*=i
    i+=1
print("{0}!={1}".format(n,wfact))

10!=3628800
10!=3628800