In [1]:
import pandas as pd
metadata = pd.read_csv("data/IMDB-Movie-Data.csv")

In [2]:
metadata.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [3]:
metadata.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [4]:
C = metadata['Rating'].mean()
print(C)

6.723199999999999

In [5]:
m = metadata['Votes'].quantile(0.9)
print(m)

406251.10000000003

In [6]:
q_movies = metadata.copy().loc[metadata['Votes']>=m]
q_movies.shape

(100, 12)

In [7]:
q_movies

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
33,34,Deadpool,"Action,Adventure,Comedy",A fast-talking mercenary with a morbid sense o...,Tim Miller,"Ryan Reynolds, Morena Baccarin, T.J. Miller, E...",2016,108,8.0,627797,363.02,65.0
35,36,Captain America: Civil War,"Action,Adventure,Sci-Fi",Political interference in the Avengers' activi...,Anthony Russo,"Chris Evans, Robert Downey Jr.,Scarlett Johans...",2016,147,7.9,411656,408.08,75.0
36,37,Interstellar,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0
50,51,Star Wars: Episode VII - The Force Awakens,"Action,Adventure,Fantasy",Three decades after the defeat of the Galactic...,J.J. Abrams,"Daisy Ridley, John Boyega, Oscar Isaac, Domhna...",2015,136,8.1,661608,936.63,81.0
54,55,The Dark Knight,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.0
60,61,Batman v Superman: Dawn of Justice,"Action,Adventure,Sci-Fi",Fearing that the actions of Superman are left ...,Zack Snyder,"Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei...",2016,151,6.7,472307,330.25,44.0
64,65,The Prestige,"Drama,Mystery,Sci-Fi",Two stage magicians engage in competitive one-...,Christopher Nolan,"Christian Bale, Hugh Jackman, Scarlett Johanss...",2006,130,8.5,913152,53.08,66.0
65,66,Kingsman: The Secret Service,"Action,Adventure,Comedy","A spy organization recruits an unrefined, but ...",Matthew Vaughn,"Colin Firth, Taron Egerton, Samuel L. Jackson,...",2014,129,7.7,440209,128.25,58.0
67,68,Mad Max: Fury Road,"Action,Adventure,Sci-Fi",A woman rebels against a tyrannical ruler in p...,George Miller,"Tom Hardy, Charlize Theron, Nicholas Hoult, Zo...",2015,120,8.1,632842,153.63,90.0
75,76,Pirates of the Caribbean: At World's End,"Action,Adventure,Fantasy","Captain Barbossa, Will Turner and Elizabeth Sw...",Gore Verbinski,"Johnny Depp, Orlando Bloom, Keira Knightley,Ge...",2007,169,7.1,498821,309.40,50.0
76,77,The Avengers,"Action,Sci-Fi",Earth's mightiest heroes must come together an...,Joss Whedon,"Robert Downey Jr., Chris Evans, Scarlett Johan...",2012,143,8.1,1045588,623.28,69.0
77,78,Inglourious Basterds,"Adventure,Drama,War","In Nazi-occupied France during World War II, a...",Quentin Tarantino,"Brad Pitt, Diane Kruger, Eli Roth,Mélanie Laurent",2009,153,8.3,959065,120.52,69.0
78,79,Pirates of the Caribbean: Dead Man's Chest,"Action,Adventure,Fantasy",Jack Sparrow races to recover the heart of Dav...,Gore Verbinski,"Johnny Depp, Orlando Bloom, Keira Knightley, J...",2006,151,7.3,552027,423.03,53.0
80,81,Inception,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625,292.57,74.0
82,83,The Wolf of Wall Street,"Biography,Comedy,Crime","Based on the true story of Jordan Belfort, fro...",Martin Scorsese,"Leonardo DiCaprio, Jonah Hill, Margot Robbie,M...",2013,180,8.2,865134,116.87,75.0
83,84,Gone Girl,"Crime,Drama,Mystery",With his wife's disappearance having become th...,David Fincher,"Ben Affleck, Rosamund Pike, Neil Patrick Harri...",2014,149,8.1,636243,167.74,79.0
85,86,Jurassic World,"Action,Adventure,Sci-Fi","A new theme park, built on the original site o...",Colin Trevorrow,"Chris Pratt, Bryce Dallas Howard, Ty Simpkins,...",2015,124,7.0,455169,652.18,59.0
87,88,Avatar,"Action,Adventure,Fantasy",A paraplegic marine dispatched to the moon Pan...,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",2009,162,7.8,935408,760.51,83.0
90,91,Prisoners,"Crime,Drama,Mystery",When Keller Dover's daughter and her friend go...,Denis Villeneuve,"Hugh Jackman, Jake Gyllenhaal, Viola Davis,Mel...",2013,153,8.1,431185,60.96,74.0
94,95,Avengers: Age of Ultron,"Action,Adventure,Sci-Fi",When Tony Stark and Bruce Banner try to jump-s...,Joss Whedon,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",2015,141,7.4,516895,458.99,66.0
99,100,The Departed,"Crime,Drama,Thriller",An undercover cop and a mole in the police att...,Martin Scorsese,"Leonardo DiCaprio, Matt Damon, Jack Nicholson,...",2006,151,8.5,937414,132.37,85.0
101,102,Thor,"Action,Adventure,Fantasy",The powerful but arrogant god Thor is cast out...,Kenneth Branagh,"Chris Hemsworth, Anthony Hopkins, Natalie Port...",2011,115,7.0,570814,181.02,57.0
102,103,The Martian,"Adventure,Drama,Sci-Fi",An astronaut becomes stranded on Mars after hi...,Ridley Scott,"Matt Damon, Jessica Chastain, Kristen Wiig, Ka...",2015,144,8.0,556097,228.43,80.0
111,112,12 Years a Slave,"Biography,Drama,History","In the antebellum United States, Solomon North...",Steve McQueen,"Chiwetel Ejiofor, Michael Kenneth Williams, Mi...",2013,134,8.1,486338,56.67,96.0
113,114,300,"Action,Fantasy,War",King Leonidas of Sparta and a force of 300 men...,Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",2006,117,7.7,637104,210.59,52.0
114,115,Harry Potter and the Deathly Hallows: Part 2,"Adventure,Drama,Fantasy","Harry, Ron and Hermione search for Voldemort's...",David Yates,"Daniel Radcliffe, Emma Watson, Rupert Grint, M...",2011,130,8.1,590595,380.96,87.0
124,125,The Dark Knight Rises,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0
129,130,The Revenant,"Adventure,Drama,Thriller",A frontiersman on a fur trading expedition in ...,Alejandro González Iñárritu,"Leonardo DiCaprio, Tom Hardy, Will Poulter, Do...",2015,156,8.0,499424,183.64,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...
341,342,Looper,"Action,Crime,Drama","In 2074, when the mob wants to get rid of some...",Rian Johnson,"Joseph Gordon-Levitt, Bruce Willis, Emily Blun...",2012,119,7.4,452369,66.47,84.0
362,363,Star Trek Into Darkness,"Action,Adventure,Sci-Fi",After the crew of the Enterprise find an unsto...,J.J. Abrams,"Chris Pine, Zachary Quinto, Zoe Saldana, Bened...",2013,132,7.8,417663,228.76,72.0
363,364,Zombieland,"Adventure,Comedy,Horror",A shy student trying to reach his family in Oh...,Ruben Fleischer,"Jesse Eisenberg, Emma Stone, Woody Harrelson,A...",2009,88,7.7,409403,75.59,73.0
365,366,Slumdog Millionaire,Drama,A Mumbai teen reflects on his upbringing in th...,Danny Boyle,"Dev Patel, Freida Pinto, Saurabh Shukla, Anil ...",2008,120,8.0,677044,141.32,86.0
368,369,The Amazing Spider-Man,"Action,Adventure",After Peter Parker is bitten by a genetically ...,Marc Webb,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa...",2012,136,7.0,474320,262.03,66.0
403,404,Despicable Me,"Animation,Adventure,Comedy",When a criminal mastermind uses a trio of orph...,Pierre Coffin,"Steve Carell, Jason Segel, Russell Brand, Juli...",2010,95,7.7,410607,251.50,72.0
410,411,Taken,"Action,Thriller",A retired CIA agent travels across Europe and ...,Pierre Morel,"Liam Neeson, Maggie Grace, Famke Janssen, Lela...",2008,93,7.8,502961,145.00,50.0
425,426,The Curious Case of Benjamin Button,"Drama,Fantasy,Romance","Tells the story of Benjamin Button, a man who ...",David Fincher,"Brad Pitt, Cate Blanchett, Tilda Swinton, Juli...",2008,166,7.8,485075,127.49,70.0
427,428,The Bourne Ultimatum,"Action,Mystery,Thriller",Jason Bourne dodges a ruthless CIA official an...,Paul Greengrass,"Matt Damon, Edgar Ramírez, Joan Allen, Julia S...",2007,115,8.1,525700,227.14,85.0
432,433,World War Z,"Action,Adventure,Horror",Former United Nations employee Gerry Lane trav...,Marc Forster,"Brad Pitt, Mireille Enos, Daniella Kertesz, Ja...",2013,116,7.0,494819,202.35,63.0
450,451,Iron Man 2,"Action,Adventure,Sci-Fi",With the world now aware of his identity as Ir...,Jon Favreau,"Robert Downey Jr., Mickey Rourke, Gwyneth Palt...",2010,124,7.0,556666,312.06,57.0
468,469,District 9,"Action,Sci-Fi,Thriller",An extraterrestrial race forced to live in slu...,Neill Blomkamp,"Sharlto Copley, David James, Jason Cope, Natha...",2009,112,8.0,556794,115.65,81.0
474,475,Argo,"Biography,Drama,History",Acting under the cover of a Hollywood producer...,Ben Affleck,"Ben Affleck, Bryan Cranston, John Goodman, Ala...",2012,120,7.7,481274,136.02,86.0
489,490,Ratatouille,"Animation,Comedy,Family",A rat who can cook makes an unusual alliance w...,Brad Bird,"Brad Garrett, Lou Romano, Patton Oswalt,Ian Holm",2007,111,8.0,504039,206.44,96.0
495,496,I Am Legend,"Drama,Horror,Sci-Fi",Years after a plague kills most of humanity an...,Francis Lawrence,"Will Smith, Alice Braga, Charlie Tahan, Salli ...",2007,101,7.2,565721,256.39,65.0
499,500,Up,"Animation,Adventure,Comedy",Seventy-eight year old Carl Fredricksen travel...,Pete Docter,"Edward Asner, Jordan Nagai, John Ratzenberger,...",2009,96,8.3,722203,292.98,88.0
509,510,Gravity,"Drama,Sci-Fi,Thriller",Two astronauts work together to survive after ...,Alfonso Cuarón,"Sandra Bullock, George Clooney, Ed Harris, Ort...",2013,91,7.8,622089,274.08,96.0
518,519,The Hobbit: The Desolation of Smaug,"Adventure,Fantasy","The dwarves, along with Bilbo Baggins and Gand...",Peter Jackson,"Ian McKellen, Martin Freeman, Richard Armitage...",2013,161,7.9,513744,258.36,66.0
541,542,Limitless,"Mystery,Sci-Fi,Thriller",With the help of a mysterious pill that enable...,Neil Burger,"Bradley Cooper, Anna Friel, Abbie Cornish, Rob...",2011,105,7.4,444417,79.24,59.0
567,568,Juno,"Comedy,Drama","Faced with an unplanned pregnancy, an offbeat ...",Jason Reitman,"Ellen Page, Michael Cera, Jennifer Garner, Jas...",2007,96,7.5,432461,143.49,81.0
578,579,The Hunger Games: Catching Fire,"Action,Adventure,Mystery",Katniss Everdeen and Peeta Mellark become targ...,Francis Lawrence,"Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...",2013,146,7.6,525646,424.65,76.0
626,627,X-Men: The Last Stand,"Action,Adventure,Fantasy","When a cure is found to treat mutations, lines...",Brett Ratner,"Patrick Stewart, Hugh Jackman, Halle Berry, Fa...",2006,104,6.7,406540,234.36,58.0
634,635,WALL·E,"Animation,Adventure,Family","In the distant future, a small waste-collectin...",Andrew Stanton,"Ben Burtt, Elissa Knight, Jeff Garlin, Fred Wi...",2008,98,8.4,776897,223.81,NaN
645,646,Gran Torino,Drama,Disgruntled Korean War veteran Walt Kowalski s...,Clint Eastwood,"Clint Eastwood, Bee Vang, Christopher Carley,A...",2008,116,8.2,595779,148.09,NaN
669,670,Blood Diamond,"Adventure,Drama,Thriller","A fisherman, a smuggler, and a syndicate of bu...",Edward Zwick,"Leonardo DiCaprio, Djimon Hounsou, Jennifer Co...",2006,143,8.0,422014,57.37,64.0
685,686,The King's Speech,"Biography,Drama",The story of King George VI of the United King...,Tom Hooper,"Colin Firth, Geoffrey Rush, Helena Bonham Cart...",2010,118,8.0,534388,138.80,88.0
688,689,Toy Story 3,"Animation,Adventure,Comedy",The toys are mistakenly delivered to a day-car...,Lee Unkrich,"Tom Hanks, Tim Allen, Joan Cusack, Ned Beatty",2010,103,8.3,586669,414.98,92.0
694,695,Life of Pi,"Adventure,Drama,Fantasy",A young man who survives a disaster at sea is ...,Ang Lee,"Suraj Sharma, Irrfan Khan, Adil Hussain, Tabu",2012,127,7.9,471109,124.98,79.0
701,702,Ted,"Comedy,Fantasy","John Bennett, a man whose childhood wish of br...",Seth MacFarlane,"Mark Wahlberg, Mila Kunis, Seth MacFarlane, Jo...",2012,106,7.0,494641,218.63,62.0
772,773,How to Train Your Dragon,"Animation,Action,Adventure",A hapless young Viking who aspires to hunt dra...,Dean DeBlois,"Jay Baruchel, Gerard Butler,Christopher Mintz-...",2010,98,8.1,523893,217.39,74.0

## 영화 평점 점수 기준의 수정
- 함수 생성 및 apply

In [8]:
def WR(x, m=m, C=C):
    v = x['Votes']
    R = x['Rating']
    return (v/(v+m)*R)+(m/(m+v)*C)

In [9]:
metadata['score'] = metadata.apply(WR, axis=1)

In [10]:
col = ['Title', 'Rating', 'Votes', 'score']
rs_original = metadata.sort_values('Rating', ascending=False)[col]
rs_new = metadata.sort_values('score', ascending=False)[col]

In [11]:
rs_original.head()

               Title  Rating    Votes     score
54   The Dark Knight     9.0  1791916  8.579216
80         Inception     8.8  1583625  8.376003
117           Dangal     8.8    48969  6.946606
36      Interstellar     8.6  1047747  8.075617
96     Kimi no na wa     8.6    34110  6.868575

In [12]:
rs_new.head()

                     Title  Rating    Votes     score
54         The Dark Knight     9.0  1791916  8.579216
80               Inception     8.8  1583625  8.376003
36            Interstellar     8.6  1047747  8.075617
124  The Dark Knight Rises     8.5  1222645  8.056861
99            The Departed     8.5   937414  7.962793

In [13]:
metadata['Description'][0]

'A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.'

In [14]:
metadata['Description'].head()

0    A group of intergalactic criminals are forced ...
1    Following clues to the origin of mankind, a te...
2    Three girls are kidnapped by a man with a diag...
3    In a city of humanoid animals, a hustling thea...
4    A secret government agency recruits some of th...
Name: Description, dtype: object

In [23]:
metadata['Description'][0]

'A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.'

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english')

In [16]:
metadata.Description = metadata.Description.fillna('') # NA가 있으면 TfifVectorizer을 돌렸을 때 오류 남

In [17]:
tfidf_matrix = tfidf.fit_transform(metadata.Description)
tfidf_matrix.shape

(1000, 5667)

In [18]:
from sklearn.metrics.pairwise import linear_kernel

cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [19]:
indices = pd.Series(metadata.index, index=metadata['Title']).drop_duplicates()

In [20]:
def rs(title, n=10, sim=cosine_sim):
    idx = indices[title]
    sim_score = list(enumerate(cosine_sim[idx]))
    sim_score = sorted(sim_score, key = lambda x: x[1], reverse=True)
    sim_score = sim_score[1:(n+1)]
    movie_index = [i[0] for i in sim_score]
    return metadata.Title.iloc[movie_index]

In [21]:
rs('The Dark Knight Rises')

54              The Dark Knight
144            Django Unchained
522                      Viking
471            Marie Antoinette
254               The Conjuring
920                   Centurion
253    The Amazing Spider-Man 2
604       The Rise of the Krays
615                Bastille Day
915                     Goksung
Name: Title, dtype: object

In [22]:
rs('Suicide Squad', n=5)

153                         Sicario
676                     Escape Plan
32                X-Men: Apocalypse
65     Kingsman: The Secret Service
552                  Fantastic Four
Name: Title, dtype: object